<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in data[1] %}
  {{content}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
        <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
          {{ content.startDate | split: "-" | slice: 0,2 | join: "."}} - {{ content.endDate | split: "-" | slice: 0,2 | join: "." | default: "Present" }}
        </span>
      </div>
      <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
        {% if content.title %}
        {% assign title = content.title %}
        {% elsif content.studyType %}
        {% assign title = content.studyType %}
        {% elsif content.position %}
        {% assign title = content.position %}
        {% else %}
        {% assign title = "" %}
        {% endif %}
        <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="{{ content.url }}">{{title}}</a></h6>
        {% if content.institution %}
        {% assign institution = content.institution %}
        {% elsif content.name %}
        {% assign institution = content.name %}
        {% elsif content.organization %}
        {% assign institution = content.organization %}
        {% else %}
        {% assign institution = "" %}
        {% endif %}
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{institution}}</h6>
        {% if content.area %}
        {% assign summary = content.area %}
        {% elsif content.summary %}
        {% assign summary = content.summary %}
        {% else %}
        {% assign summary = "" %}
        {% endif %}
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">{{summary}}</h6>
        {% if content.courses %}
        {% assign description = content.courses %}
        {% elsif content.highlights %}
        {% assign description = content.highlights %}
        {% else %}
        {% assign description = "" %}
        {% endif %}
        <ul class="items">
          {% for item in description %}
          <li>
            <span class="item">{{ item }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>